[submodule "HPA-Cell-Segmentation"]
	path = HPA-Cell-Segmentation
	url = git@github.com:CellProfiling/HPA-Cell-Segmentation.git
[submodule "DINO4Cells_code"]
	path = DINO4Cells_code
	url = https://github.com/broadinstitute/DINO4Cells_code.git
